<template>
  <div id = "footer">
    <footer class="footer red">
      <div class="container">
        <div class="content has-text-centered">
          <p class = "white">
            {{disclaimer}}
          </p>
          <p class = "white">
            {{author}}
          </p>
        </div>
      </div>
    </footer>
  </div>
</template>


<script>
export default {
  name: 'footer',
  data(){
    return {
      disclaimer: 'All materials used in this project are royalty free.',
      author: "Made by EESTEC IT department front-end team."
    }
  }
}

</script>


<style scoped>

.red {
  background-color: red;
}

.white {
  color: white;
}

</style>
