<template>
  <div id = "hello">
    <section class="section">
      <div class="container">
        <h1 class="title">{{ title }}</h1>
        <h2 class="subtitle">
          {{ subtitle }}
        </h2>
        <div class = "columns">
          <div class = "column is-10 is-offset-1">
            <p> {{ message }} </p>
            <p> {{ message2 }} </p>
            <p> Lorem ipsum dolor sit amet, ea per tantas habemus pertinax. Te est persius euripidis, has alia tincidunt ea. Duo ne audiam percipit. Vel cu sumo accumsan.

Meis paulo qui ut. Ne mel delectus adipisci, duo adipisci reprimique eu, an pro sint duis. His id error soluta persius. Ea affert legimus assentior nec, eu ius scaevola hendrerit omittantur. Suas nihil legimus et eos, sed te intellegat efficiendi, usu et mazim consequat. Vel harum neglegentur no, solet prompta vel no.

Has an nihil labitur consetetur, cetero malorum abhorreant vix ne, ne qui aperiam referrentur. Abhorreant argumentum ne sea, ullum iisque ad qui. Vocent vivendum usu ei, quis oratio pericula sed ne. Odio unum an mei. Ad eum detracto scriptorem referrentur, cu vix vide dicit efficiantur.

Vim graecis sapientem mediocritatem et, nec te saperet indoctum, vis modo paulo ne. Ius at harum zril quaeque, per erat tractatos efficiantur eu. Duo an alterum dissentiet, usu ex meis accusata aliquando, eu albucius noluisse oporteat sed. Populo tacimates constituto te per, vel alii labore erroribus id, sonet euismod ius eu. Dicam homero cum ne, at vis suas nihil molestie.

Vel nihil alterum platonem ea, an ius harum graeci vidisse. Cu meliore sententiae eos, ei tritani qualisque assentior eam. Gloriatur disputationi ei eam, te tantas dictas delenit usu, in inermis alienum dissentias pro. Ne mei altera ornatus splendide, cu nec quem molestie. Mei tale audiam platonem ex, eum error eruditi at. No alii verear adversarium pro. </p>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>




<script>
export default {
  name: 'hello',
  data (){
    return {
      title: 'Task 4',
      subtitle: 'Working with components and css frameworks',
      message: 'Aceasta este prima pagina pe care o vede vue-routerul',
      message2: 'Pe langa acesta vom creea componente noi si le vom introduce in acest slot'
    }
  }
}

</script>



<style scoped>
.black {
  background-color: black;
}

.yellow {
  background-color: yellow;
}

p{
  padding-top: 30px;

}

</style>
