<template>
  <div class = "wrapper">
    <nav class = "level banner">
        <div class = "level-item">
          <a href = "eestec.ro/"><img class ="logoOrganization" src="/static/logo.png"></a>
        </div>
    </nav>
    <nav class = "nav red">
      <div class = "nav-center">
        <a class = "nav-item a-white"> Placeholder </a>
        <a class = "nav-item a-white"> Placeholder </a>
        <a class = "nav-item a-white"> Placeholder </a>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'menu'
}
</script>


<style scoped>
  .wrapper {
    width: 100%;
    height: 140x;
    overflow: hidden;
  }

.red {
    background-color: red;
    height: 40px;
    margin-bottom: 20px;
  }

.banner  {
    height: 100px;
    background-color: white;
    margin-bottom: 0;
    padding: 0 1.5em 0 1.5rem;
  }

.logoOrganization{
  width: 200px;
  height: 80px;
}

a{
  outline: 0;
}

.a-white {
  color: white;
  padding: 0;
  margin-right: 2rem;
  margin-left: 2rem;
}

.a-white:hover{
  color: black;
  text-decoration: underline;
}

</style>
