<template>
  <div id="app">
    <Menu></Menu>
    <section class = "is-large min-hgt">
      <router-view></router-view>
    </section>
    <Footer class = "bottom"></Footer>
  </div>
</template>

<script>
import Menu from '@/components/Menu'
import Footer from '@/components/Footer'

export default {
  components: {
    Menu,
    Footer
  },
  name: 'app'
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

.min-hgt {
  min-height: 45vh;
}

.bottom{
  position: relative;
  bottom: 0;
  width: 100%;
}

</style>
